/* CSS HEX */
:root {
	--eerie-black: #24231fff;
	--silver: #c8c3bdff;
	--isabelline: #f0efedff;
	--amaranth-purple: #ab2346ff;
	--cerulean: #437f97ff;
}


/* Nav */
.navbarScroll.navbarDarken {
	background-color: var(--cerulean);
}
nav .navbar-nav li a{
  color: var(--eerie-black) !important;
}

/* Home carousel, text */
.carousel_container {
    max-width: 75%;
    margin: 0 auto;
	margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
}
.carousel_image {
	max-height: 100%;
	width: auto;
	object-fit: contain;
}
.home_text {
	text-align: center;
	top: 50%;
	left: 50%;
	color: var(--cal-poly-green);
}

/* Bio */
.bio_image {
	width: 100%;
}

/* Projects */
.card {
    height: 280px;
}
.card:hover {
    border: 1px solid #008000;
}
.card-btn {
    cursor: pointer;
}
.projects {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card-img-top {
	max-height: 200px;
	width: auto;
	object-fit: cover;
}

/* Socials */
.fa-github:hover,.fa-twitter:hover,.fa-linkedin:hover{
    cursor: pointer;
}

/* all media tags */
/* wider */
@media (min-aspect-ratio: 1/1) {
	.carousel_fit .carousel-item{
		height: 70vh;
	}
	
	/* Section Spacing */
	#bio, #projects {
    	margin-top: 4rem;
    	padding-top: 4rem;
	}

	#projects {
		margin-bottom: 2rem;
		padding-bottom: 2rem;
	}
}

/* taller */
@media (max-aspect-ratio: 1/1) {
	#bio, #projects {
		margin-top: 1rem;
		padding-top: 1rem;
	}

	#projects {
		margin-bottom: 1rem;
		padding-bottom: 1rem;
	}

	.bio_image {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 70%;
}

