/* CSS HEX */
:root {
	--cal-poly-green: #2f4b26ff;
	--timberwolf: #dbd6d2ff;
	--blue-crayola: #2176ffff;
	--celestial-blue: #33a1fdff;
	--dim-gray: #635f59ff;
}

/* Sections */
#bio, #projects {
    margin-top: 4rem;
    padding-top: 4rem;
}

#projects {
	margin-bottom: 2rem;
	padding-bottom: 2rem;
}

/* Nav */
.navbarScroll.navbarDarken {
	background-color: var(--celestial-blue);
}

/* Home carousel, text */
.carousel_container {
    max-width: 60%;
    margin: 0 auto;
	margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
}
.carousel_fit .carousel-item{
	height: 70vh;
}
.carousel_image {
	max-height: 100%;
	width: auto;
	object-fit: contain;
}
.home_desc {
	font-size: 2rem;
}
.home_text {
	text-align: center;
	top: 50%;
	left: 50%;
	color: var(--cal-poly-green);
}

/* Bio */
.bio_image {
	width: 100%;
}

/* Projects */
.card {
    height: 280px;
}
.card:hover {
    border: 1px solid #008000;
}
.card-btn {
    cursor: pointer;
}
.projects {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card-img-top {
	max-height: 200px;
	width: auto;
	object-fit: cover;
}

/* Socials */
.fa-github:hover,.fa-twitter:hover,.fa-linkedin:hover{
    color: #008000;
}
